
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5684b2b6;
    margin: 0;
    padding: 30px;
}

.container {
    text-align: center;
    position: absolute;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-gap: 5px;
    margin-bottom: 20px;
}
button {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;


}
button:hover {
    background-color: #4b4eb6b6;
}

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 18px;
}

.cell.highlight {
    background-color: rgba(126, 230, 85, 0.804);
}


.drawn-numbers {
    margin-top: 400px;
    margin-bottom: 20px;
    font-size: 18px;
    justify-content: center;
    font-weight: bold;
     color: rgba(255, 255, 255, 0.778);
     position: absolute;
}

.player-section {
margin-top: 40px;

margin-bottom: 40;    
text-align: center;
    
}

.player-cards {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    
}

.card {
    border: 2px solid #ccc;
    padding: 10px;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-gap: 5px;
    margin: 5px;
}
.card .cell {
    width: 40px;
    height: 40px;
    margin: 2px;
}

#num-card:focus {
    border-color: blue;

}
label[for="num-cards"] {
    font-weight: bold;
     color: rgba(255, 255, 255, 0.778);
     display: inline;

}
